.main{
        background-image: url('../../images/fondo.gif') no-repeat center center fixed;
        -webkit-backdrop-size: cover;
        -moz-backgraound-size: cover;
        -o-background-size: cover; 
        background-size: cover; 
        height: 100%;
    } 
