.card{
    margin-top: 160px;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: tomato;
    border-radius: 16px;
    margin: 32px;
    border: 1.6px solid hsla(0,0%,100%,.4);
    color: black;
    box-shadow: 3px 3px 16px rgb(20 20 20 / 80%); 
}

.cardimg {
    display: block;
    position: absolute;
    top: 80px;
    left: 78px;
    border-radius: 16px;
    max-width: 95px;  
    height: auto;  
    object-fit: cover;
    object-position: center;
}

.name{
    text-transform: uppercase;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    font-size: 20px;
    font-weight: 800;
}

.type-container{
    text-transform: uppercase;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 55px;
    margin: 10px;
    margin-left: 25px;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    -webkit-align-items: center;
    -webkit-flex-wrap: wrap;
}

.typing{
    text-transform: capitalize;
}

.card button{
    background-color: limegreen;
    font-size: 17px;
    position: absolute;
    right: 25px;
    bottom: 20px;
    cursor: pointer;
    border-radius: 7px;
    transition: transform 250ms;
}

.card button:hover{
   background-color: blue;
   transition: transform .5s ease;
   transform: scale(1.1);
}
