.pagination{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.button{
    background-image: linear-gradient(to right, #af8db2 0%, #a27aa5  51%, #956799  100%);
    font-size: 17px;
    cursor: pointer;
    transition: transform 250ms;
    margin-bottom: 25px;
    width: 130%;
    margin-right: 20px;
}

